{% extends "registration/index.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block registration_content %}
    <div class="header">
        <h3>REGISTER</h3>
    </div>
    <div class="col-12 px-0">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form }}
            </fieldset>
            <div class="input-group form-group col-12 px-0">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-12 px-0 submit">
                    <input type="submit" value="Sign Up" class="btn float-right login_btn">
                </div>
            <sub><a href="{% url "login" %}">Already have an account ?</a></sub>
        </form>
    </div>
{% endblock registration_content %}