{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About Us</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <iframe style="height: 30em;width:100%;" src="https://www.youtube.com/embed/i4aaNIa7xlQ"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">{{about_us.title}}</span></h2>
                <h2>{{news.title}}</h2>
                <div>
                    {{about_us.description|safe}}
                </div>
                
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-3">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>Our responsibility towards customers also creates opportunities for us to gain reliable partners. It also serves as the foundation for Agarwood Co to expand the market and develop sustainably. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="service-block-inner">
                    <h3>Integrity</h3>
                    <p>A dynamic, creative, and fair working environment empowers us with the energy to excel in our work. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="service-block-inner">
                    <h3>Collaboration</h3>
                    <p>We aim to build strong cooperative relationships and alliances to achieve long-term success and sustainable development. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="service-block-inner">
                    <h3>Excellence</h3>
                    <p>We always strive to exceed the expectations of our partners. We work tirelessly to become a strong and resilient enterprise. </p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 class="noo-sh-title">Meet Our Team</h2>
            </div>
            {% for element in employee_list %}
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="/media/{{element.picture}}" alt="" />
                            <div class="team-content">
                                <h3 class="title">{{element.name}}</h3> <span class="post">{{element.employee_position}}</span> </div>
                            <ul class="social">
                                {% if element.facebook %}
                                <li>
                                    <a href="{{element.facebook}}" class="fab fa-facebook"></a>
                                </li>
                                {% endif %}
                                {% if element.instagram %}
                                <li>
                                    <a href="{{element.instagram}}" class="fab fa-instagram"></a>
                                </li>
                                {% endif %}
                                {% if element.whatsapp %}
                                <li>
                                    <a href="tel:+84-{{element.whatsapp}}" class="fab fa-whatsapp"></a>
                                </li>
                                {% endif %}
                                {% if element.tiktok %}
                                <li>
                                    <a href="{{element.tiktok}}" class="fab fa-tiktok"></a>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>{{element.description}}</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End About Page -->
{% endblock %}