{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    
<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="/static/assets/images/banner_tram_huong_1.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Agarwood Co Vietnam</strong></h1>
                        <p class="m-b-40">Agarwood Products Company - Oud Products Company</p>
                        <p><a class="btn hvr-hover" href="/products">Shopping</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="/static/assets/images/banner_tinh_dau_2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Agarwood Co Vietnam</strong></h1>
                        <p class="m-b-40">We Provide The Best Agarwood/Oud Products to The Customers</p>
                        <p><a class="btn hvr-hover" href="/products">Shopping</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="/static/assets/images/bannert3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Agarwood Co Vietnam</strong></h1>
                        <p class="m-b-40">We Are Professional Company in Vietnam</p>
                        <p><a class="btn hvr-hover" href="/products">Shopping</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            {% for product_caterory in product_caterory_list %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/media/{{product_caterory.image}}" alt="" />
                        <a class="btn hvr-hover" href="/products/?product_category={{product_caterory.name}}">{{product_caterory.name}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Categories -->

<div class="box-add-products">
    <div class="container">
        <div class="row">
            {% for voucher in voucher_list %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="offer-box-products">
                    <img class="img-fluid" src="/media/{{voucher.picture}}" alt="" />
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Agarwood & Oud</h1>
                    <p>Contact us to get further information.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".top-featured">Top featured</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            {% for product in products %}
                <div class="col-lg-3 col-md-6 special-grid best-seller top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="/media/{{product.cover_image}}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="products/{{product.id}}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="products/{{product.id}}" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="products/{{product.id}}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                            
                            </div>
                        </div>
                        <div class="why-text">
                            <h4><a href="products/{{product.id}}">{{product.name}}</a></h4>
                            <h5>${{product.real_price}}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Products  -->

<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>News</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for news in news_list %}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="/media/{{news.cover}}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3><a href="news/{{news.id}}">{{news.title}}</a></h3>
                                {{news.short_content|safe}}
                            </div>
                            <ul class="option-blog">
                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Blog  -->
{% endblock %}