{% extends "registration/index.html" %}

{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block registration_content %}
    <div class="header">
        <h3>{% trans "Reset Password" %}</h3>
        </br>
    </div>
    <div class="col-12 px-0">
        <div class="col-12 px-0">
            <h3>Enter your new password</h3>
            <form class="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col-12 px-0 submit">
                    <input type="submit" value="{% trans 'Change Password' %}" class="btn float-right login_btn">
                </div>
            </form>
        </div>
    </div>
{% endblock registration_content %}
