{% extends "registration/index.html" %}

{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block registration_content %}
    <div class="header">
        <h3>{% trans "Reset Password" %}</h3>
        </br>
    </div>
    <div class="col-12 px-0">
        <div class="col-12 px-0">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="submit">
                    <input type="submit" value="{% trans 'Reset password' %}"
                           class="btn float-right login_btn">
                    <input type="button" onclick="window.location.href='{% url 'login' %}'"
                           value="{% trans 'Back to login' %}" class="btn float-right login_btn">
                </div>
            </form>
        </div>
    </div>
{% endblock registration_content %}