{% extends "registration/index.html" %}

{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block registration_content %}
    <div class="header">
        <h3>{% trans "Reset Password" %}</h3>
        </br>
    </div>
    <div class="col-12 px-0">
        <div class="col-12 px-0">
            <p>We have sended you reset password link on your email. Please Check Your Email.</p>
        </div>
        <div class="col-12 px-0 submit">
            <input type="button" value="{% trans 'Back to Log In' %}" onclick="window.location.href='{% url 'login' %}'" class="btn float-right login_btn">
        </div>
    </div>
{% endblock registration_content %}
